<section class="hero is-info" *ngIf="recipeLoaded">
  <div class="hero-body">
    <div class="container">
      <nav class="level">
        <div class="level-left">
          <h1 *ngIf="recipeLoaded" class="title">
            {{ recipe.name }}
          </h1>
        </div>
        <div class="level-right">
          <button (click)="deleteRecipe()" class="button is-danger is-rounded is-small is-inverted is-outlined">
            <span class="icon">
              <i class="fal fa-times"></i>
            </span>
            <span>Borrar receta</span>
          </button>
        </div>
      </nav>
      <nav class="level">
        <div class="level-left">
          <div class="level-item" *ngFor="let category of recipe.categories">
            <span class="tag recipe-detail__category" [style.color]="category.color" [style.border-color]="category.color">
              {{ category.name }}
            </span>
          </div>
        </div>
        <div class="level-right">
        </div>
      </nav>
    </div>
  </div>
</section>
<section *ngIf="recipeLoaded" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title">Ingredients</h2>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </li>
        </ul>
      </div>
      <div class="column">
        <h2 class="title">Steps</h2>
        <ol>
          <li *ngFor="let step of recipe.steps">
            {{ step }}
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>