<div class="modal" [ngClass]="(showModal) ? 'is-active' : ''">
  <div (click)="closeModal()" class="modal-background"></div>
  <div class="modal-card">
    <form [formGroup]="recipeForm" (ngSubmit)="createRecipe()">

      <header class="modal-card-head">
        <p class="modal-card-title">Add recipe</p>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <div class="control">
            <input formControlName="name" class="input is-small" type="text" placeholder="Name" required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <textarea formControlName="steps" class="textarea is-small" placeholder="Steps" required></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <textarea formControlName="ingredients" class="textarea is-small" placeholder="Ingredients" required></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input formControlName="categories" class="input is-small" type="text" placeholder="Categories">
          </div>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button type="submit" [disabled]="!recipeForm.valid" class="button is-success">Save</button>
        <button (click)="closeModal($event)" class="button">Cancel</button>
      </footer>
    </form>

  </div>

  <button (click)="closeModal()" class="modal-close is-large" aria-label="close"></button>
</div>